---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<h2 class="text-center">Recent flats</h2>

<div class="container">
  <div class="row">
    <% 12.times do |x|%>
      <% @test = x + 1 %>
      <div class="col-xs-3">
        <%= partial "layouts/card" %>
      </div>
    <% end %>
  </div>
</div>

